div.navigation {
    position:relative;
    z-index:1;
    background-color:#E9EAED;
    margin-bottom:5rem;
    overflow:auto;
}
.arrow_right {
    margin-left:111rem;
    display:inline-block;
    margin-bottom:3rem;
}

.arrow_left_end {                   /*La flèche dans la bibliographie*/
    margin-left:5rem;
    display:inline-block;
    margin-bottom:3rem;
}

.arrow_left {
    position:absolute;
    top:0px;
    left:0.5rem;
    margin-left:5rem;
    margin-bottom:3rem;
}